body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: 'Spartan', sans-serif;
}

img {
    width: 100%;
}

/*  ======================== header_section  ============================  */
.header_menu {
    background-color: #e7e6e8;
    position: relative;
    z-index: 1;
}

.header_menu .nav_menu {
    padding: 0;
}

.header_menu .logo {
    width: 12%;
}

.header_menu img {
    width: 100%;
}

.header_menu ul li {
    margin: 0px 19px;
    padding: 0px 5px;
    line-height: 103px;
    position: relative;
    transition: all .2s ease-in-out;
}

.header_menu ul li a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.header_menu ul li:hover a {
    color: #3763eb;
}

.header_menu ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: #3763eb;
    top: 98.5%;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.header_menu ul li:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.header_menu ul li a.activee {
    color: #3763eb;
}

.header_menu ul li.li_active {
    border-bottom: 3px solid #3763eb;
}

/* dropdown */
.header_menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    padding: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.header_menu ul li ul li {
    list-style-type: none;
    background-color: #0201ff;
    border: 19px solid #fff;
    line-height: 68px;
    margin: 0;
}



.header_menu ul li ul li a {
    color: #fff;
}

.header_menu ul li ul li:hover::after {
    width: 0;
    opacity: 0;
    visibility: hidden;
}

.header_menu ul li:hover ul li a {
    color: #fff !important;
}

.header_menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

/* button */
.header_menu .header_btn .menu_btn {
    border-radius: 30px;
    color: #3763eb;
    padding: 12px 26px;
    background-color: #fff;
    border: 0px;
    margin-left: 24px;
    font-weight: 600;
    transition: all .4s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: none;
}

.header_menu .header_btn .menu_btn:hover {
    color: #fff;
}

.header_menu .header_btn .menu_btn::after {
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #7869fa;
    z-index: -1;
    transition: all .4s ease-in-out;
}

.header_menu .header_btn .menu_btn:hover::after {
    width: 100%;
}

/* ======================== baner_section  ============================  */
.baner_section {
    background-color: #f6f9fc;
    overflow: hidden;
    height: 74vh;
}

/* .baner_section .baner_width {
    width: 1613px;
} */

.baner_section .left_baner_content {
    padding-top: 159px;
}

.baner_section .left_baner_content h1 {
    font-weight: 600;
    line-height: 4.7rem;
    font-size: 52px;
}

.baner_section .left_baner_content p {
    font-size: 19px;
    margin: 30px 0;
    font-weight: 300;
    color: #767676;
}

.baner_section .left_baner_content .baner_btn {
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 50px;
    margin-top: 19px;
    transition: all .4s ease-in-out;
}

.baner_section .left_baner_content .baner_btn:hover {
    background-color: #fff;
    color: #0d6efd;
}

.baner_section img {
    border-radius: 50%;
    position: absolute;
    top: -194px;
    right: -463px;
    height: 888px;
    width: auto;
}

.baner_section .baner_right_img {
    position: relative;
}

/* ======================== service_section  ============================ */
.service_section {
    padding: 12px 0 110px 0 !important;
}

.service_section .service_top_content hr {
    width: 63px;
    height: 3px;
    opacity: 1;
    color: #3763eb;
}

.service_section .service_top_content h4 {
    font-size: 16px;
    font-weight: 300;
    color: #0d6efd;
}

.service_section .service_top_content h1 {
    font-weight: 700;
    line-height: 3.5rem;
    margin: 23px 0;
    font-size: 45px;
}

.service_section .service_top_content p {
    font-size: 19px;
    color: #767676;
    font-weight: 300;
}

.service_section .service_item {
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.service_section .service_item h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 2.0rem;
}

.service_section .service_item .icone {
    background-color: #3763eb;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin: 46px 0;
    border-radius: 38px 38px 38px 0px;
    position: relative;
    margin-bottom: 55px;
    transition: all .4s ease-in-out;
}

.service_section .service_item .icone::after {
    content: "";
    top: 144%;
    left: 0;
    height: 3px;
    width: 40%;
    background-color: #3763eb;
    position: absolute;
    transition: all .4s ease-in-out;
}

.service_section .service_item p {
    font-size: 16px;
    font-weight: 300;
    color: #767676;
}

.service_section .service_item:hover {
    background-color: #3763eb !important;
    color: white;
}

.service_section .service_item:hover p {
    color: white;
}

.service_section .service_item:hover .icone {
    background-color: white;
    color: #3763eb;
}

.service_section .service_item:hover ::after {
    width: 80%;
    background-color: white;
}

.service_section .first_position {
    position: relative;
    z-index: 1;
}

.service_section .first_position img {
    position: absolute;
    top: 129px;
    left: -53px;
    z-index: -1;
}

/* ======================== play_button_section  ============================  */
.play_button_section {
    background-image: url(https://i.ibb.co/z2TQJkZ/video-bg.jpg);
    position: relative;
    padding: 170px;
    color: white;
    z-index: 1;
}

.play_button_section::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    content: "";
    z-index: -1;

}

.play_button_section .play_button_text h4 {
    font-size: 18px;
    font-weight: 500;
}

.play_button_section .play_button_text h1 {
    font-weight: 800;
    font-size: 42px;
    margin: 19px 0;
}

.play_button_section .play_button_text hr {
    height: 3px;
    width: 73px;
    margin: auto;
    color: #fff;
    opacity: 1;
}

.play_button_section .play_button_text p {
    margin-top: 23px;
}

.play_button_section .play_button_text .play_button_icone {
    width: 85px;
    height: 85px;
    margin: auto;
    margin-top: 153px;
    position: relative;
}

.play_button_section .play_button_text .play_button_icone .fa-play {
    font-size: 27px;
    height: 85px;
    width: 85px;
    background: #fff;
    color: #3e65da;
    line-height: 85px;
    border-radius: 50%;
    position: relative;

}

.play_button_section .play_button_text .play_button_icone::after {
    content: "";
    width: 99px;
    height: 99px;
    top: -7px;
    left: -7px;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    animation: play_btn 1.6s ease-out infinite;
    /* transition: .9s; */
}

.play_button_section .play_button_text .play_button_icone::before {
    /* ! content: ""; */
    width: 115px;
    height: 115px;
    top: -15px;
    left: -15px;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    content: "";
    animation: play_btn 1.6s ease-out infinite;
    /* transition: .9s; */
}

@keyframes play_btn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(0.9);
        opacity: .5;
    }

    50% {
        transform: scale(1.1);
        opacity: .7;
    }

    75% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

/* ======================== pricing_section  ============================ */

.pricing_items {
    transition: all .4s ease-in-out;
}

.pricing_text h5 {
    font-size: 16px;
    color: #3e65da;
}

.pricing_text h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 22px;
}

.pricing_text hr {
    height: 3px;
    width: 73px;
    margin: auto;
    color: #3e65da;
    opacity: 1;
}

.pricing_text p {
    font-size: 16px;
    margin-top: 19px;

}

.pricing_section .pricing_items h5 {
    margin: 34px;
    font-size: 19px;
    font-weight: 500;
}

.pricing_section .pricing_items h1 {
    font-weight: 600;
    margin-bottom: 59px;
}

.pricing_items p {
    color: #b1aca6;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

.pricing_section .pricing_items .p_top {
    margin-top: 30px;
}

.pricing_section .pricing_items hr {
    height: 2px;
    width: 200px;
    margin: auto;
    color: #f6f9fc;
    opacity: 1;
}

.common_button {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 19px;
    border-radius: 50px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .4s ease-in-out;
    border-color: #0d6efd;
}

.common_button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #0d6efd;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-in-out;
    border-color: #0d6efd;
}

.common_button:hover::after {
    width: 100%;
}

.pricing_items:hover {
    background-color: #0201ff !important;
    color: white !important;
}

.pricing_items:hover p {
    color: #fff;
}

.pricing_items:hover .common_button {
    background-color: #fff;
    color: #ddd;
    border-color: #0d6efd;
}


/*  ======================== buttom_banner_section  ============================ */

.buttom_banner_section {
    background-image: url(https://i.ibb.co/BKYJKnf/free-bg.jpg);
    position: relative;
    padding: 145px;
    color: white;
    z-index: 1;
}

.buttom_banner_section::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5177ec;
    opacity: 0.8;
    content: "";
    z-index: -1;

}

.buttom_banner_section .bbs h5 {
    color: white;
}

.buttom_banner_section .bbs h1 {
    font-size: 35px;
    font-weight: 800;
    margin: 31px;
}

.buttom_banner_section .bbs hr {
    color: #fff;
    height: 2px;
}

.buttom_banner_section .bbs p {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.buttom_banner_section .bbs .common_button {
    padding: 13px 33px;
    color: #0d6efd;
    background-color: #fff;
    border-color: #fff;
}

.buttom_banner_section .bbs .common_button:hover {
    color: #fff;
}

/*  ======================== contact_section  ============================ */
.footer_contact_section {
    padding: 115px;
}

.footer_contact_section .footer_contact_form {
    padding: 60px;
    padding-right: 83px;
}

.footer_contact_section .footer_contact_form h3 {
    color: #fff;
    font-weight: 700;
    font-size: 31px;
}

.footer_contact_section .footer_contact_form p {
    color: #ffffff;
    margin: 25px 0;
    width: 71%;
    font-size: 18px;
    font-weight: 500;
}

.footer_contact_section .footer_contact_form .email {
    border-radius: 50px;
}

.footer_contact_section .footer_contact_form .submit {
    border-radius: 50px;
    color: #fff;
    background-color: #0d6efd;
    font-weight: 700;
}

.footer_content {
    padding: 53px;
    padding-right: 64px;
}

.footer_content h5 {
    font-size: 25px;
}

.footer_content a {
    text-decoration: none;
    background-color: #0d6efd;
    color: #fff;
    display: inline-block;
    padding: 8px 17px;
    border-radius: 50px;
    margin-top: 85px;
}

/* ======================== blog_section  ============================ */
.blog_section .card {
    border: none;
}

.blog_section .pricing_text {
    margin-bottom: 33px;
}

.blog_section .pricing_text h5 {
    margin-bottom: 19px;
}

.blog_section .pricing_text h1 {
    font-weight: 600;
}

.blog_section .pricing_text hr {}

.blog_section .pricing_text p {
    font-weight: 500;
    color: #9e98a8;
}

.blog_section .card_items {
    position: relative;
    margin-bottom: 60px;
}

.blog_section .card_items img {
    border-radius: 6px;
}

.blog_section .card_items .card-title {
    font-weight: 600;
    font-size: 23px;
    line-height: 2rem;
    margin: 30px 0;
}

.blog_section .card_items .card-text {
    color: #9e98a8;
}

.blog_section .card_items .blog_button {
    position: relative;
}

.blog_section .card_items .blog_button a {
    text-decoration: none;
    color: #fff;
    background-color: #3763eb;
    display: inline-block;
    padding: 17px 11px 13px 59px;
    border-radius: 50px;
    font-size: 12px;
}

.blog_section .card_items .blog_button img {
    border-radius: 50%;
    width: 39px;
    position: absolute;
    top: 5px;
    left: 8px;
}

.blog_btn_wrapper {
    position: absolute;
    bottom: 52%;
    right: 18px;
}


/* ======================== brand_logo_section  ============================  */
.brand_logo_section {
    text-align: left !important;
    padding: 80px;
}

.brand_logo_section .pricing_text {
    text-align: left !important;
    padding: 0 !important;
    padding-right: 43px !important;
}

.brand_logo_section .pricing_text h5 {}

.brand_logo_section .pricing_text h1 {
    margin-top: 17px;
    font-size: 40px;
    margin-bottom: 16px;
}

.brand_logo_section .pricing_text hr {
    margin: 0;
}

.brand_logo_section .pricing_text p {
    margin-top: 19px;
    color: #9e98a8;
}

.brand_items {
    transition: all .4s ease-in-out;
}

.brand_items img {
    border: 1px solid #ddd;
    width: 100%;
    height: 160px;
    padding: 39px;
    opacity: .4;
    transition: all .4s ease-in-out;
}

.brand_items:hover {
    background-color: #f6f9fc;
}

.brand_items:hover img {
    opacity: 1;
}

.brand_logo_section .brand_items {}

/* ======================== footer_top_section  ============================  */
.footer_top_section {
    background-color: #081828;
    padding: 80px 0;
    color: #bcc0c4;
}

.footer_top_section img {
    width: 55%;
    margin-bottom: 35px;
}

.footer_top_section p {
    font-weight: 600;
    font-size: 17px;
    line-height: 2.2rem;
}

.footer_top_section h5 {
    font-size: 23px;
    border-left: 3px solid #3a68f8;
    padding-left: 13px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

.footer_top_section li {
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: 500;
}

.icon_box.d-flex li .fab {
    padding: 23px;
    font-size: 25px;
    font-weight: 700;
}


/* ======================== footer_buttom_section  ============================  */
.footer_buttom {
    background-color: #081828;
    color: #fff;
}

.footer_buttom .container {
    border-top: 1px solid #4d5863;
}

footer p {
    margin: 0;
    padding: 41px;
    color: #dadcdf;
    font-size: 17px;
    font-weight: 500;
}
